In [19]:
import pandas as pd
# Create dictionary of test scores
test_dict = {'Corey':[63,75,88], 'Kevin':[48,98,92], 'Akshay': [87, 86, 85]}
# Create DataFrame
df = pd.DataFrame(test_dict)

In [20]:
# Rename Columns
df.columns = ['Quiz_1', 'Quiz_2', 'Quiz_3']
df

   Quiz_1  Quiz_2  Quiz_3
0      63      48      87
1      75      98      86
2      88      92      85

In [21]:
# Access first row by index number
df.iloc[0]

Quiz_1    63
Quiz_2    48
Quiz_3    87
Name: 0, dtype: int64

In [22]:
# Access first column by name
df['Quiz_1']

0    63
1    75
2    88
Name: Quiz_1, dtype: int64

In [23]:
# Access first column using dot notation
df.Quiz_1

0    63
1    75
2    88
Name: Quiz_1, dtype: int64