In [7]:
#nested list (matrix)
m = [[1,2,3], [4,5,6]]
for row in m:
    for col in row:
        print(col)

1
2
3
4
5
6

In [41]:
#activity 6
nude_team = [["Mare",11,"sales"], ["Ecem", 29,"marketing"],["Arnaud",33,"reseach"],["Virginia",33,"reseach"]]
for employee in nude_team: 
    print (employee)

['Mare', 11, 'sales']
['Ecem', 29, 'marketing']
['Arnaud', 33, 'reseach']
['Virginia', 33, 'reseach']

In [32]:
for employee in employees: 
    print ("Name:", employee[0])
    print ("Since:", employee[1], "years in company")
    print ("Department:", employee[2])
    print ("---"*20)

Name: A
Since: 11 years in company
Department: sales
------------------------------------------------------------
Name: B
Since: 29 years in company
Department: marketing
------------------------------------------------------------
Name: C
Since: 33 years in company
Department: reseach
------------------------------------------------------------

In [35]:
employee = employees[1] 
print (employee)
print ("---"*20)

print ("Name:", employee[0])
print ("Since:", employee[1], "years in company")
print ("Department:", employee[2])
print ("---"*20)

['B', 29, 'marketing']
------------------------------------------------------------
Name: B
Since: 29 years in company
Department: marketing
------------------------------------------------------------